<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上衣-短袖</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
    <style>
       
    </style>
</head>
<body>
    <div class="headerpage">

    </div>



    <main>
        <div class="classification">
            <h2>上衣-短袖</h2>
        </div>

       <div class="list">
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>
            <div class="product">
                <a href="describe.html"><img src="img/2.jpg" alt="">
                <p>商品名稱是什麼</p>
                <span>NT$ 1099</span>
                </a>
            </div>

    </main>



    <div class="footerpage">

    </div>

</body>
</html>
<script>
    $(".headerpage").load("header.html");
    $(".footerpage").load("footer.html");
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>