*{
    padding: 0;
    margin: 0;
}
.star {
    font-size: 50px;
    color: grey;
    cursor: pointer;
}

.rating {
    margin-top: 20px;
}

/* ------------------------- */
.customer-star.getstar{
    font-size: 10px;
    color: grey;
    cursor: pointer;
}
.customer-reviews{
    background-color: rgb(240, 240, 240);
    width: 1000px;
    padding: 20px;

}
/* 彈出留下評論 */
.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
} 

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/*  describe.html 下面  ----------------------------------- */
.sec-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs{
    display: flex;
    justify-content: center;
}


.tab {
    margin: 0 20px; 
    padding: 10px 20px;
    cursor: pointer;
}

.tab.active{
    font-weight: bold;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

/* ----------------------------------- */
.product1 {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

/* .describe-img {
    padding:40px;
    /* width: 600px;
    height: auto; 
} */

.product1 p{
    padding: 40px;
}


.product1> div {
    flex: 1;
    margin-right: 10px; 
}


.product1 > div:first-child {
    flex: 0 0 auto; 
    margin-right: 10px; 
}



.product1 > div:last-child {
    margin-right: 0; 
}


 

/* ------------------------------------*/
.pd{
    font-size: 24px;
    margin-top: 150px;
}

button {
    padding: 10px 20px;
    background-color:gainsboro;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

button:hover {
background-color: #e3dada;
}

button:active {
background-color: #c4b0b0;
}
/* header----------------------------------------------------------------------------------- */
header{
    background-color: rgb(206, 206, 206);
    height: 120px;
    width: 100%;
}

.body{
    background-color: rgba(225, 210, 209, 0.243);
}

h1{
    font-family:"Optima",sans-serif;
    font-size: 56px;
    position: absolute;
    left:45%;
    top: 0px;;
    line-height: 80px;
    color: rgb(0, 0, 0);
}

.rtop{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: right;
}



header a{
    color:black;
    text-decoration: none;}
    

header a:hover{
    color: rgb(128, 103, 119);
}
header ul{
    position: absolute;
    left:10vw;
    top:60px;
    line-height: 80px;
    
}

header li{
    display: inline;
    margin-right:4vw
}




footer{
    font-family:'Times New Roman', Times, serif; ;
    background-color: rgb(206, 206, 206);
    height: 120px;
    width: 100%;
    text-align: center;
}


