.user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 9px;
    right:5%;
}

.modal{
    float: right;
}

header{
    background-color: rgb(206, 206, 206);
    height: 120px;
    width: 100%;
}

h1{
    font-family:"Optima",sans-serif;
    font-size: 56px;
    position: absolute;
    left:45%;
    top: 0px;;
    line-height: 80px;
    color: rgb(0, 0, 0);
}

h1:hover{
    color:brown;
}

.rtop{
    color: rgb(0, 0, 0);
    text-decoration:none;
    text-align:right;
    word-spacing: 10px;
    padding-top: 10px;
    padding-right: 20px;
}


/* ---------------------------------------------------------------------------------------------------------- */

.list {
    display: flex;
    flex-wrap: wrap; /* 允許項目換行 */
}

.list > div {
    width: calc(33.33% - 20px); /* 33.33% 寬度，並減去一些間距 */
    margin: 10px; /* 設定間距 */
}