*{
    margin: 0;
    padding: 0;
}

.close-button{
    transform: translate(-40%, -50%);
    z-index: 1; 
    width: 30px;
    height: 30px;
    background-color: rgb(233, 233, 233);
    border: #525252;
    border-radius:999px;
    z-index: 3;
    position: absolute;
    top: 3px;
    right: -22px;
    
    
}

.login{
    text-align: center;
}

p{
    margin-top: 10px;
    font-size: 14px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(109, 101, 101, 0.297);
}


.container{
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow:5px,5px,5px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 1; 
    box-shadow: 2px 0 10px rgb(169, 169, 169);
}

.form-box{
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: rgb(222, 222, 222);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.register-box,.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden{
    display: none;
    transition: 0.5s;
}
h1{
    text-align:center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:rgb(63, 63, 63);
    font-family: monospace;
    letter-spacing: 5px;
}

input{
    background-color: transparent;
    width: 70%;
    color:rgb(146, 146, 136);
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding:10px 0;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

input::placeholder{
    color:rgb(117, 115, 109)
}

input:focus{
    color:black;
    outline:none;
    border-bottom: 1px solid rgb(158, 148, 146) ;
    transform: 0.5s;
}

input:focus::placeholder{
    opacity: 0;
}

.form-box button{
    width:70%;
    margin-top: 35px;
    background-color: rgb(210, 210, 210);
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: rgb(68, 56, 58);
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.form-box button:hover{
    background-color:rgb(183, 180, 176);
    color: black;
    transition:background-color 0.5s ease;
}

.con-box{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.con-box.left{
    left: -2%;
}

.con-box.right{
    right: -2%;
}

.con-box h2{
    color:rgb(123, 135, 135);
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
    
}

.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(140, 145, 145);
    text-align:center;
}

.con-box span{
    color: black;
}

.con-box button{
    margin-top: 3%;
    background-color: rgb(215, 218, 218);
    color: rgb(123, 122, 122);
    border: 1px solid  #989898;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.con-box button:hover{
    background-color: rgb(204, 203, 201);
    color: rgb(113, 104, 122);
}
