{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Brch&eacute;</title>
    <link rel="stylesheet" href="{% static 'css/describe.css' %}">
    <!-- 星星的css -->
    <style>
        /* 添加必要的CSS樣式 */
    </style>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <div class="product1">
            <div class="describe-img" style="padding: 40px 40px 40px 120px;">
                <img src="{{ product.picture }}" alt="describe" width="600">
            </div>
        
            <div class="pd">
                <h2>{{ product.productName }}</h2>
                <h2>NT$&nbsp;{{ product.price }}</h2>
                <h3>尺寸：<span class="selected-size">未選擇</span></h3>
                <div class="size-buttons">
                    <button data-size="XS">XS</button>
                    <button data-size="S">S</button>
                    <button data-size="M">M</button>
                    <button data-size="L">L</button>
                    <button data-size="XL">XL</button>
                </div>
                <h3>數量：<span class="num">0</span></h3>
                <div>
                    <button class="minus-btn">-</button>
                    <span class="numt">0</span>
                    <button class="plus-btn">+</button>
                </div>
                <div><br></div>
                <div>
                    <button class="addToCart">加入購物車</button>
                    <button>立即購買</button>
                </div>
                <h6>
                    尺寸
                    <span class="isize"> </span>
                    剩餘庫存量：
                    <span class="sizeNum"></span>
                </h6>
            </div>
        </div>
        
        <div class="sec-menu">
            <div class="tabs">
                <div class="tab active" data-tab="tab1">描述</div>
                <div class="tab" data-tab="tab2">尺寸表</div>
                <div class="tab" data-tab="tab3">評論</div>
            </div>
            
            <div class="contents" style="padding: 40px 240px 40px 240px">
                <div class="content active" id="tab1-content">
                    <p>{{ product.describe }}</p>
                </div>
                <div class="content" id="tab2-content">
                    <p>XS<br>S<br>M<br>L<br>XL</p>
                </div>
                <div class="content" id="tab3-content">
                    <h3>顧客評論(1)</h3>

                    <div class="customer-reviews">
                        <h5>平均評分</h5>

                    </div>

                    <div>
                        <p>11056087</p>
                        <div id="customer-star">
                            <span class="getstar" data-value="1">★</span>
                            <span class="getstar" data-value="2">★</span>
                            <span class="getstar" data-value="3">★</span>
                            <span class="getstar" data-value="4">★</span>
                            <span class="getstar" data-value="5">★</span>
                        </div>
                        <p>小黑說他長得很好看</p>
                        <p>整體適合：</p>
                        <p>尺寸：</p>
                        <p>23 May,2024</p>
                    </div>

                    <button id="openModalButton">留下評論</button> 
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h3>商品評分</h3>
    
                            <div id="stars">
                                <span class="star" data-value="1">★</span>
                                <span class="star" data-value="2">★</span>
                                <span class="star" data-value="3">★</span>
                                <span class="star" data-value="4">★</span>
                                <span class="star" data-value="5">★</span>
                            </div>

                            <div></div>
                            <h3>商品評論</h3>
                            <textarea rows="10" cols="50">文字評論不少於五個字</textarea>
                            <h3>購買尺寸</h3>
                            <div>
                                <button>XS</button>
                                <button>S</button>
                                <button>M</button>
                                <button>L</button>
                                <button>XL</button>
                            </div>
                            <div>-</div>
                            <div>
                                <button>提交</button>
                            </div> 
                            
                        </div>
                        
                    </div>   
                </div>
            </div>
        </div> 
    </main>
    
    <footer>
        {% include 'footer.html' %}
    </footer>
    <script src="{% static 'js/describe.js' %}"></script>
</body>
</html>
