<!-- frontpage.html -->

{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <div class="classification">
            <h2>HOT&nbsp;&nbsp;SALE&nbsp;&nbsp;ITEM&nbsp;&nbsp;&nbsp;&nbsp;熱銷商品</h2>
        </div>

        <div class="list">
            {% for product in products %}
            <div class="product">
                <a href="{% url 'describe' product_no=product.productNo %}">  <!-- 修改這裡 -->
                    <img src="{{ product.picture }}" alt="">
                    <p>{{ product.productName }}</p>
                    <span>NT$ {{ product.price }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>

</body>
</html>
