{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>個人資訊</title>
    <link rel="stylesheet" href="{% static 'css/information.css' %}">
</head>
<body>
    <header>
        <div class="title">
            <h1 id="title">
                <a href="/">Brch&eacute;</a>
            </h1>
        </div>
    </header>
    
    <form>
        <button id="close" class="close">&nbsp;X&nbsp;</button>
        <h2>{{ user.first_name }} 您好！</h2>
        <div class="list">
            <div>
                <span class="label-text">編號：</span>
                <span class="static-text">{{ memberdata.memberNo }}</span>
            </div>
            <div>
                <span class="label-text">姓名：</span>
                <span class="static-text">{{ memberdata.memberName }}</span>
            </div>
            <div>
                <span class="label-text">生日：</span>
                <span class="static-text">{{ memberdata.birthday }}</span>
            </div>
            <div>
                <span class="label-text">性別：</span>
                <span class="static-text">{{ memberdata.gender }}</span>
            </div>
            <div>
                <label for="phone" class="label-text">電話號碼：</label>
                <input type="text" id="phone" name="phone" class="input-field" value="{{ memberdata.phone }}">
            </div>
            <div>
                <label for="email" class="label-text">電子郵件：</label>
                <input type="email" id="email" name="email" class="input-field" value="{{ memberdata.email }}">
            </div>
            <div>
                <label for="address" class="label-text">地址：</label>
                <input type="text" id="address" name="address" class="input-field" value="{{ memberdata.address }}">
            </div>
        </div>
        <nav class="rtop">
            <button class="submit" type="submit">儲存</button>
            <a href="http://127.0.0.1:8000/logout" class="logout">登出</a>
        </nav>
    </form>

    <script>
        document.getElementById('close').addEventListener('click', function() {
            window.history.back(); // Navigate back to the previous page
        });
    </script>
    
</body>
</html>
