{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>個人資訊</title>    
    <link rel="stylesheet" href="{% static 'css/information.css' %}">

</head>
<body>
    <header>
        <h1>帳戶資訊</h1>
    </header>

    <form>
        <h2></h2>

        <div class="list">
            <div>
                <label for="name">編號：</label>
                <a type='text', id='no', name='no', value='{{ member.memberNo }}'></a>
            </div>
            <div>
                <label for="name">姓名：</label>
                <a type='text', id='name', name='name', value='{{ member.memberName }}'></a>
            </div>
            <div>
                <label for="name">生日：</label>
                <a type='text', id='name', name='name', value='{{ member.birthday }}'></a>
            </div>
            <div>
                <label for="name">性別：</label>
                <a type='text', id='name', name='name', value='{{ member.gender }}'></a>
            </div>
            <div>
                <label for="name">電話號碼：</label>
                <input type='text', id='name', name='name', value='{{ member.phone }}'>
            </div>
            <div>
                <label for="name">電子郵件：</label>
                <input type='text', id='name', name='name', value='{{ member.email }}'>
            </div>
            <button type="submit">儲存</button>
        </div>
    </form>

</body>
</html>