{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>可以滑動的登入/註冊</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <button id="close" class="close-button">&nbsp;X&nbsp;</button>
        <div class="form-box">

            <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                <h1>Register</h1>
                <input id="username" type="text" name="username" placeholder="username">
                <input id="email" type="email" name="email" placeholder="e-mail">
                <input id="password" type="password" name="password" placeholder="password">
                <input id="confirm_password" type="password" name="confirm_password" placeholder="password again">
                <button type="submit">註冊</button>
            </form>
            
            

            <div class="login-box ">
                <h1>Login</h1>
                <input type="email" placeholder="e-mail">
                <input type="password" placeholder="password">
                <button>登入</button>
            </div>
            </div>
            <div class="con-box left">
                <h2>Welcome To<br>Brch&eacute;</span></h2>
                <br><br><br><br><br><br><br><br>
                <p>已有帳號？</p>
                <button id="login">去登入</button>
            </div>

            <div class="con-box right">
                <h2>Welcome To <br>Brch&eacute;</span></h2>
                <br><br><br><br><br><br><br><br>
                <p>沒有帳號？</p>
                <button id="register">去註冊</button>
            </div>
        </div>
            <script>
                let login=document.getElementById('login');
                let register=document.getElementById( 'register'); 
                let form_box=document.getElementsByClassName('form-box')[0];
                let register_box=document.getElementsByClassName ('register-box')[0];
                let login_box=document.getElementsByClassName('login-box')[0];
                register.addEventListener('click',()=>{
                form_box.style.transform='translateX(80%)';
                login_box.classList.add('hidden');
                register_box.classList. remove('hidden');
                })
                login. addEventListener ('click', ()=>{
                form_box.style.transform='translate(0%)';
                register_box.classList.add( 'hidden'); login_box. classList. remove( 'hidden');
                })

                document.getElementById('close').addEventListener('click', function() { history.back(); }); 
            </script>
</body>
</html>