{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入/註冊</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        
    </style>
</head>
    <body>
        <div class="container">
            <button id="close" class="close-button">&nbsp;X&nbsp;</button>
            <div class="form-box">
                <div class="login-box">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <h1>登入</h1>
                        <div class="login">
                            <input id="username" type="text" name="username" placeholder="使用者名稱">
                            <input id="password" type="password" name="password" placeholder="密碼">
                            <button type="submit">登入</button>
                        </div>
                    </form>
                    <p>{{ msg }}</p>
                </div>
                <div class="register-box hidden">
                    <form method="post" action="/register/">
                        {% csrf_token %}
                        <h1>註冊</h1>
                        <div class="login">
                            <input id="username" type="text" name="username" placeholder="使用者名稱">
                            <input id="email" type="email" name="email" placeholder="電子郵件">
                            <input id="password" type="password" name="password" placeholder="密碼">
                            <input id="password2" type="password" name="password2" placeholder="再次確認密碼">
                            <button type="submit">註冊</button>
                            <p>{{ msg }}</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="con-box left">
                <h2>Welcome To<br>Brch&eacute;</h2>
                <p>已有帳號?</p>
                <button id="login">去登入</button>
            </div>
            <div class="con-box right">
                <h2>Welcome To<br>Brch&eacute;</h2>
                <p>沒有帳號？</p>
                <button id="register">去註冊</button>
            </div>
        </div>
        <script>
            let login = document.getElementById('login');
            let register = document.getElementById('register');
            let formBox = document.querySelector('.form-box');
            let registerBox = document.querySelector('.register-box');
            let loginBox = document.querySelector('.login-box');

            register.addEventListener('click', () => {
                formBox.style.transform = 'translateX(80%)';
                loginBox.classList.add('hidden');
                registerBox.classList.remove('hidden');
            });

            login.addEventListener('click', () => {
                formBox.style.transform = 'translateX(0%)';
                registerBox.classList.add('hidden');
                loginBox.classList.remove('hidden');
            });

            document.getElementById('close').addEventListener('click', function() {
                history.back();
            });
        </script>
    </body>
</html>
